img {

	height: 100px;
    width: 100px;
}

h2 {

	color: red;
	text-align: center;
}

h1 {

	
	text-align: center;
}
p {

	margin: 15px;
}

img.pequeno {
	
	height: 25px;
    width: 25px;

}

p.trabajo {
	font-family: italic;
	font-size: 30px;
}